<!-- <div id="text">hello class</div>
Number <input type="text" id="num" onkeyup="sqr();" />
<p id="res"></p>  -->

<!-- Number 1 <input type = "text" id = "no1" /> <br>
Number 2 <input type = "text" id = "no2"/> <br>
<input type="submit" value='submit' onclick='add();'>
<p id = "res"></p> -->

<!-- <input type="text" id="num1" />
<input type="text" id="num2" />
<button onclick="add();">submit</button>
<p id="res"></p> -->

<table border="1">
  <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
  </thead>
  <tbody id="recs"></tbody>
</table>

<script>
  /* AJAX */
  function loadData(records) {
    console.log(records);
    var table_data = "";
    for (let i = 0; i < records.length; i++) {
      // console.log(records[i]['name']);
      table_data += "<tr>";
      table_data += `<td>${records[i]["id"]}</td>`;
      table_data += `<td>${records[i]["name"]}</td>`;
      table_data += `<td>${records[i]["email"]}</td>`;
      table_data += `<td>${records[i]["phone"]}</td>`;
      table_data += "</tr>";
    }
    console.log(table_data);
    document.getElementById("recs").innerHTML = table_data;
  }

  function getData() {
    fetch("https://jsonplaceholder.typicode.com/users")
      .then((response) => response.json())
      .then((res) => {
        // console.log(res);
        console.table(res);
        loadData(res);
      });
  }
  getData();

  //   function add() {
  //     var x = parseInt(document.getElementById("num1").value);
  //     var y = parseInt(document.getElementById("num2").value);
  //     var sum = x + y;
  //     console.log(sum);
  //     document.getElementById("res").innerHTML = `Sum of Number: ${sum}`;
  //   }

  // function add() {
  //      var x = document.getElementById("no1").value;
  //      var y = document.getElementById("no2").value;
  //      document.getElementById("res").innerHTML = `Sum of numbers: ${x + y}`;
  // }

  //   function sqr() {
  //     // alert('sqr function called');
  //     var y = document.getElementById("num").value;
  //     console.log(y * y);

  //     document.getElementById("res").innerHTML = `Square of number: ${y * y}`;
  //   } // Sum of Numbers: 30

  //addition of 2 numbers

  //JSON
  stud = { name: "aman", age: 18, city: "thane" };
  // console.log(stud['name']);
  // console.log(stud['city']);

  // array of JSON
  studs = [
    { name: "aman", age: 18, city: "thane" },
    { name: "rahul", age: 18, city: "panvel" },
    { name: "rohan", age: 18, city: "andheri" },
    { name: "janvi", age: 18, city: "vikhroli" },
  ];
    // console.log(studs[3]["city"]);

  // stud = ['aman', 18, 'thane'];
  // studs = [
  //     ['aman', 18, 'thane'],
  //     ['rahul', 18, 'panvel'],
  //     ['rohan', 18, 'vikhroli']
  // ];
  // console.log(stud[0]);
  // console.log(studs[1][0]);
  // console.log(studs[2][2]);
  // nums = [1,2,3,4,5,6];
  // console.log(nums);

  // sum = nums.reduce((x,t) => {
  //     return t + x;
  // },1);
  // console.log(sum);

  // t = 0
  // for(i=0,i++){
  //     t = t+x
  // }
  // t
  // evens = nums.filter(x => {
  //     return x % 2 == 0;
  // });
  // console.log(evens);

  // sqrs = nums.map(x =>{
  //     return x * x;
  // });
  // console.log(sqrs);
  // console.log(nums);

  // console.log(nums);
  // // console.log(nums[2]);
  // nums.forEach(x => {
  //     console.log(x);
  // });

  /* lamda or fat arrow function*/
  // add = (x, y) => {
  //     console.log(x+y);
  // }

  // add(10,30);

  // function printName(name, ...args){
  //     console.log(name);
  //     console.log(args);
  // }
  // printName('sohan');// name = 'sohan'
  // printName('anmol','shivam', 'rahul');// name = 'anmol'

  //   function add(x, y, ...args) {
  //     // console.log(`${x} + ${y} = ${x+y}`);
  //     console.log(args);
  //     sum = x + y
  //     args.forEach((x) => {
  //       sum = sum + x;
  //     });
  //     console.log(sum);
  //   }

  //   add(1,2,3,4,5);
  // function sum(x, y){
  //     return x+y;
  // }

  // add(3,6);
  // console.log(sum(5,6));

  // var x = 30;
  // var y = 50;
  // var sum = x + y;
  // console.log(sum);
  // // sum of 10 & 20 is 30
  // console.log('sum of '+ x + ' & '+ y + ' is '+ sum);
  // // 10 + 20 = 30
  // console.log(`${x} + ${y} = ${sum}`);
  // console.log(`sum of ${x} & ${y} is ${x + y}`);

  //multiply 2 number
  //output : 10 * 20 = 200

  // alert('hello');
  // confirm('hi there');

  //   var name = "anuj";
  //   //   console.log(name);
  //   var x = 10;
  //   var y = false;
  //   console.log(typeof(name));
  //   console.log(typeof(x));
  //   console.log(typeof(y));
</script>
